body {
  background-color: #F6D0A4;
  color: #222;
  font-size: 1.7em;
}
a {
  color: #444;
}
h1 {
  margin-bottom: 1.4rem;
}
h5 {
  margin-bottom: 1.1rem;
}
hr {
  border: 1px solid #777;
}
img {
  margin: 0;
}
.button {
  background: rgba(243, 189, 126, 0.5);
  border: 1px solid #555;
}
.button:hover {
  background: rgba(255, 189, 126, 1.0);
  border: 1px solid #222;
}
