body {
  background-color: #f6d0a4;
  color: #222;
  font-size: 20px;
	line-height: 1.5em;
  padding-bottom: 20px;
}
.container {
  width: 100%;
}
header {
  margin-top: 2%;
  padding: 0 15px;
}
a {
  border-bottom: 2px solid #A5733A;
  color: #444;
  text-decoration: none;
}
a:hover {
  color: #A5733A;
  cursor: pointer;
}
h1 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.55em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1.4em;
  line-height: 1em;
  margin: 0;
}
h4 {
  font-size: 1.2em;
  line-height: 1em;
  margin: 0;
}
footer {
  padding: 15px;
}

#game-list {
  background: #f3c897;
  margin: 20px auto;
  padding: 10px;
}
.row {
  padding-bottom: 5px;
}

.game {
  margin: 0;
	min-height: 450px;
	padding: 15px 5px;
}
.game h3 {
	text-transform: uppercase;
}
.game img {
  display: block;
	margin: 10px 0 0;
	padding: 0;
	width: 100%;
}
.game p {
	background: #FFE7CC;
  border-bottom: 3px solid #CEA06A;
  border-left: 3px solid #CEA06A;
  border-right: 3px solid #CEA06A;
	display: block;
	font-size: 1em;
	line-height: 1.25em;
	margin: 0;
	padding: 10px;
}
a.button {
  background: #CEA06A;
  border: 2px solid #555;
	display: block;
  font-size: 1em;
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}
a.button:hover {
  background: #A5733A;
  border-bottom: 3px solid #222;
  color: #eee;
}
.mini {
  float: left;
  width: 33%;
}

/* skeleton mobile breakpoint */
@media (min-width: 550px) {
  .game p {
    font-size: .8em;
    min-height: 100px;
  }
  a.button {
    font-size: .8em;
  }
}

/* tablet */
@media (min-width: 768px) {
  .container {
    width: 95%;
  }
  .game p {
    font-size: 1em;
    min-height: 120px;
  }
  h1 { font-size: 2.5em; line-height: 1em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.1em; }
  h5 { font-size: 1em; }
  h6 { font-size: .7em; }
  hr { border: 1px solid #777; }
  img { margin: 0; }
  header { margin-top: 5%; }
}

/* desktop */
@media (min-width: 992px) {
  .game {
    max-width: 400px;
  }
  .game p {
    font-size: 1.2em;
  }
  a.button {
    font-size: 1em;
  }
}
